

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  color: #222;

}

header{

    display : flex; 
    align-items: center;
    justify-content: space-between ;
    gap: 10px; 
    padding : 25px 350px 25px 30px;
    background-color: black ;
    color: white;

}

.logo{
    background-color: white;
    font-weight: bold;
    border-radius: 30px;
    padding : 10px;
    color: black;
}

nav ul{
   display : flex; 
    align-items: center;
    justify-content: space-between;
    gap : 200px; 
    margin-left: 50px;
    list-style: none;
    font-style: none ;
}

nav a {
      color: white;
    list-style: none;
    font-weight: bold;
}

.hero-img {
  width: auto;
  height: 50vh; 
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;


}



.hero-text a {
  background-color: black;
  color: white;
  padding: 20px 40px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.hero-text a:hover {
  background-color: white;
  color: black;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  
}

.hero-text p{
    margin : 0px 30px 0px 30px ;
}
