
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{

    display : flex; 
    align-items: center;
    justify-content: space-between ;
    gap: 10px; 
    padding : 25px 350px 25px 30px;
    background-color: white ;
    color:black ;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
 
}

.logo{
    background-color: black;
    font-weight: bold;
    border-radius: 25px;
    padding : 12px;
    color: white ;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;

}

.logo-img img{
  max-width: 40px;


}
nav ul{
   display : flex; 
    align-items: center;
    justify-content: space-between;
    gap : 200px; 
    margin-left: 50px;
    list-style: none;
    font-style: none ;
}

nav a {
      color: 
      black;
    list-style: none;
    font-weight: bold;
    text-decoration: none;



}


.logo-connexion-img img{
    max-width: 50px;
    margin-left: 15px;
}

.logo-connexion-nom{
    color:black;
}

.logo-connexion{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 150px;

}

body {
  height: 100vh;
   display: flex;
    flex-direction: column;
    align-items: center;
  background: black;
  color: #333;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: white;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h1 {
  margin-bottom: 30px;
  color: black;
}

.login-box label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease , color 0.3s ease;
}

.btn-login:hover {
  background-color: white;
  transform: scale(1.02);
  color: black;
}

.signup-text {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-text a {
  color: black ;
  text-decoration : none;
  font-weight:bold 
}

.signup-text a:hover {
  text-decoration: underline;
}
